.chord-list {
    /* list-style-type: none; */
    /* margin: 0; */
    /* padding: 0; */
    width: 100%;
    /* overflow: hidden; */
    background-color: #333333;
}

.chord-list-item-active {
    float: left;
    display: block;
    color: white;
    text-align: center;
    padding: 16px;
    width: 7.69%;
    text-decoration: none;
    background-color: green;
}

.chord-list-item-inactive {
    float: left;
    display: block;
    color: white;
    text-align: center;
    padding: 16px;
    width: 7.69%;
    text-decoration: none;
    background-color: orange;
}

.chord-list-item:hover {
    background-color: #111111;
}

.blah {
    background-color: aqua;
}

/* .chord-list-item a {
    display: block;
    color: white;
    text-align: center;
    padding: 16px;
    text-decoration: none;
}

.chord-list-item a:hover {
    background-color: #111111;
} */