.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* johns additions */
html {
  overflow: -moz-scrollbars-vertical; 
  overflow-y: scroll;
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
   -khtml-user-select: none; /* Konqueror HTML */
     -moz-user-select: none; /* Old versions of Firefox */
      -ms-user-select: none; /* Internet Explorer/Edge */
          user-select: none; /* Non-prefixed version, currently
                                supported by Chrome, Edge, Opera and Firefox */
}

html,body { height:100%; }

#logo {
  display: none;
}

/* .MHiddenSecret{
  background-color: aqua;
} */

/* .MHiddenShown{
  background-color: yellow;
  animation-name: example;
  animation-duration: 4s;
} */

/* .mSliderLabel,.mSlider{
  animation-name: opacityFade;
  animation-duration: 4s;
} */


@keyframes fadeOutOpacity {
  from {opacity: 0.0}
  to {opacity: 1.0}
}

@keyframes fadeInOpacity {
  from {opacity: 1.0}
  to {opacity: 0.0}
}

@keyframes fadeOutBorder {
  from {border-color: #1A4645}
  to {border-color: #F58800}
}

@keyframes fadeInBorder {
  from {border-color: #F58800}
  to {border-color: #1A4645}
}