html {
  user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  -webkit-tap-highlight-color: transparent;
  overflow: -moz-scrollbars-vertical;
  overflow-y: scroll;
}

body {
  margin: 0;
  background-color: #f1f3f4;
}
